<div class="row">
    <div class="col-sm-12">
        <h3>
            <strong> Around the Globe</strong>
        </h3>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <button (click)="getResults1()">
                       <a href="#tab1" data-toggle="tab">Australia</a>
                  </button>
                </li>
                <li>
                    <button (click)="getResults3()">
                    <a href="#tab3" data-toggle="tab">United Kingdom</a>
                    </button>
                </li>
                <li>
                    <button (click)="getResults4()">
                    <a href="#tab4" data-toggle="tab">India</a>
                    </button>
                </li>
                <li>
                    <button (click)="getResults5()">
                    <a href="#tab5" data-toggle="tab">Italy</a>
                    </button>
                </li>
                <li>
                    <button (click)="getResults6()">
                    <a href="#tab6" data-toggle="tab">United States</a>
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ul *ngFor="let ne of news1">
                        <div class="list-group well  well-lg">
                            <a href="{{ne.url}}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ne.name}}</h4>
                                <p class="list-group-item-text">{{ne.description}}</p>
                            </a>
                        </div>
                    </ul>
                </div>
                <div class="tab-pane" id="tab2">
                    <ul *ngFor="let ne of news2">
                        <div class="list-group well  well-lg">
                            <a href="{{ne.url}}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ne.name}}</h4>
                                <p class="list-group-item-text">{{ne.description}}</p>
                            </a>
                        </div>
                    </ul>
                </div>
                <div class="tab-pane" id="tab3">
                    <ul *ngFor="let ne of news3">
                        <div class="list-group well  well-lg">
                            <a href="{{ne.url}}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ne.name}}</h4>
                                <p class="list-group-item-text">{{ne.description}}</p>
                            </a>
                        </div>
                    </ul>
                </div>
                <div class="tab-pane" id="tab4">
                    <ul *ngFor="let ne of news4">
                        <div class="list-group well  well-lg">
                            <a href="{{ne.url}}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ne.name}}</h4>
                                <p class="list-group-item-text">{{ne.description}}</p>
                            </a>
                        </div>
                    </ul>
                </div>
                <div class="tab-pane" id="tab5">
                    <ul *ngFor="let ne of news5">
                        <div class="list-group well  well-lg">
                            <a href="{{ne.url}}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ne.name}}</h4>
                                <p class="list-group-item-text">{{ne.description}}</p>
                            </a>
                        </div>
                    </ul>
                </div>
                <div class="tab-pane" id="tab6">
                    <ul *ngFor="let ne of news6">
                        <div class="list-group well  well-lg">
                            <a href="{{ne.url}}" class="list-group-item">
                                <h4 class="list-group-item-heading">{{ne.name}}</h4>
                                <p class="list-group-item-text">{{ne.description}}</p>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>